@model DiscountManagement.Models.ProductDto
@{
    ViewBag.Title = "Details";
}

<a href="/Product/List">Go back to product list</a>
<h2>@Model.ProductName</h2>
<div>Price: @Model.Price</div>
<div>URL: @Model.URL</div>

