@model IEnumerable<DiscountManagement.Models.ProductDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Product/New">New Product</a>
@foreach (var product in Model) { 
    <h2><a href="/Product/Details/@product.ProductID">@product.ProductName</a></h2>
}
