@model IEnumerable<DiscountManagement.Models.ProductDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@foreach (var product in Model) { 
    <h2><a href="/Product/Details/@product.ProductID">@product.ProductName</a></h2>
    <div>Price: @product.Price</div>
    <div>URL: @product.URL</div>
}
