@model DiscountManagement.Models.ViewModels.UpdateStore
@{
    ViewBag.Title = "Edit";
}

<h2>Update Store</h2>
<nav>
    <ul>
        <li><a href="/Store/List">Go back to store list</a></li>
        <li><a style="color:#ab2020;" href="/Store/DeleteConfirm/@Model.SelectedStore.StoreID">Delete</a></li>
    </ul>
</nav>
<form action="/Store/Update/@Model.SelectedStore.StoreID" method="POST" enctype = "multipart/form-data">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div style="display:none;">
                @* Pass through the store ID *@
                <input type="text" name="StoreID" value="@Model.SelectedStore.StoreID" />
            </div>
            <div>
                <label>Name:</label> <input type="text" name="StoreName" value="@Model.SelectedStore.StoreName" />
            </div>
            <div>
                <label>Discount code:</label> <input type="text" name="DiscountCode" value="@Model.SelectedStore.DiscountCode" />
            </div>
            <div>
                <label>Discount rate:</label> <input type="text" name="DiscountPercentage" value="@Model.SelectedStore.DiscountPercentage" />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <input type="file" name="StorePic" />
        </div>
    </div>
    <div>
        <input type="submit" value="Update Store" />
    </div>
</form>
